*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
local.properties
.kotlin/
app/build/
build/
.gradle/
gradle/wrapper/gradle-wrapper.jar.lock
sheet.html
research/
