<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- The dial is designed for round faces, but round is declared
         required="false": Google Play's Wear OS device targeting EXCLUDES
         real round watches (Pixel Watch, Galaxy Watch, etc.) when round is
         required="true", so hard-requiring it ships to zero devices. We
         therefore do not filter on it (the app simply targets watches via
         android.hardware.type.watch and renders for round faces). -->
    <uses-feature
        android:name="android.hardware.screen.round"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SlideRuleWatchGuideWear"
        tools:targetApi="34">

        <!-- Standalone app: does not require a paired phone. -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|density|uiMode|navigation|fontScale|layoutDirection"
            android:resizeableActivity="true"
            android:theme="@style/Theme.SlideRuleWatchGuideWear">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
